.apply-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-container .inputs-form {
    max-width: 80%;
}

@media (max-width: 767.98px) {
    .apply-container .inputs-form {
        max-width: 100%;
    }
}

.apply-section form {
    border-top: 8px solid var(--primary-color);
    box-shadow: 0px 0px 40px 0px #B6B6B633;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}