.branches-section .form-select {
    --bs-form-select-bg-img: url("https://www.svgrepo.com/show/59935/triangular-black-arrow-pointing-down.svg")
}

.branches-section .branch-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.branches-section .branch-icon i {
    font-size: 20px;
}

.branches-section a:hover p {
    text-decoration: underline;
}