label span {
    color: #D71F26;
}

input,
select {
    padding-block: 12px !important;
}

input[type="radio"],
input[type="checkbox"] {
    padding-block: 0 !important;
}

.form-select,
.form-control {
    border-radius: 50px;
    font-size: .85rem;
    border: var(--main-border-op-30);
    font-family: 500;
}

.form-control::placeholder {
    color: rgb(45 41 38 / 30%) !important;
}

.form-select {
    color: var(--black-color) !important;
}

.arabic-version .form-select {
    background-position: left 0.75rem center;
    padding: .375rem .375rem .75rem 2.25rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    color: var(--secondary-color);
}


.form-control:focus,
.form-select:focus,
.input-with-icon:focus,
.attach-input:focus {
    outline: none;
    box-shadow: unset;
    border: var(--main-border);
}

.input-with-icon {
    overflow: hidden;
}

.input-with-icon input {
    border: 0 !important;
}

.input-with-icon i {
    color: var(--secondary-color);
    padding-inline-end: 2.5rem;
    font-size: 1.2rem;
}

.attach-input {
    cursor: pointer;
}

.attach-input label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 100%;
}

textarea.form-control {
    border-radius: var(--main-border-radius);
    height: auto;
}

/* Iti */
.iti,
.iti input {
    width: 100%;
    direction: ltr;
}

.iti input.iti__tel-input {
    padding-left: 106px !important;
    padding-right: 0 !important;
}

.iti__selected-country {
    border-inline-end: 1.5px solid rgb(83 86 90 / 30%) !important;
    padding-inline-end: 1.5rem !important;
}

@media (max-width: 767.98px) {
    .iti__selected-country {
        padding-inline-end: 1.9rem;
    }
}

.iti__arrow {
    position: absolute;
    inset-inline-end: 3px;
    background-image: url("../assets/icons/CaretDown.svg") !important;
    background-size: 20px;
    background-position: 95% 50%;
    background-repeat: no-repeat;
    width: 20px !important;
    height: 20px !important;
    border: 0 !important;
    background-color: transparent;
}

.iti__arrow.iti__arrow--up {
    background-image: url("../assets/icons/CaretDown.svg") !important;
    border-bottom: 0 !important;
    rotate: 180deg;
}

.iti__country-container {
    left: 0px;
    right: auto;
}

.iti--allow-dropdown .iti__country-container:not(:has(+ input[disabled])):not(:has(+ input[readonly])) .iti__selected-country-primary:hover {
    background-color: transparent;
}

.iti__flag {
    background-image: url("../assets/images/flags.webp");
}

.iti__search-input,
.iti__search-input:focus-visible {
    border: unset !important;
    padding: 10px;
    outline: 0 !important;
}

/* .iti input.iti__tel-input {
    text-indent: 10px;

} */

.iti--inline-dropdown .iti__dropdown-content {
    z-index: 9;
}

.form-check-input {
    width: 20px;
    height: 20px;
    border: var(--main-border) !important;
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border: var(--primary-color) !important;
}

.checkbox-btns-container,
.radio-btns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem
}

.arabic-version .radio-btns-container,
.arabic-version .checkbox-btns-container {
    direction: rtl;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.arabic-version .form-check {
    gap: 0;
}

.arabic-version .form-check-input {
    margin: 0;
    float: none;
    margin-inline-end: 0.5em;
}

#file-input {
    display: none;
}

.input-file {
    position: relative;
}

.input-file #formFile {
    cursor: pointer;
}

.input-file .input-file-btn {
    position: absolute;
    inset-inline-end: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: var(--secondary-color);
    border: none;
}

.input-file #fileName {
    position: absolute;
    inset-inline-start: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.date-input {
    position: relative;
}

.date-input .calendar-icon {
    position: absolute;
    inset-inline-start: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Global form style for full width forms */
.content-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-section-container .inputs-form {
    max-width: 80%;
}

@media (max-width: 767.98px) {
    .content-section-container .inputs-form {
        max-width: 100%;
    }
}

.content-section-container form {
    border-top: 8px solid var(--primary-color);
    box-shadow: 0px 0px 40px 0px #B6B6B633;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.stepper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem auto;
    max-width: 850px;
}

/* One line behind all steps */
.stepper::before {
    content: "";
    position: absolute;
    top: 25%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%);
    height: 0.4rem;
    background: var(--black-color);
    z-index: 0;
    width: 85%;
}

.arabic-version .stepper::before {
    inset-inline-end: 50%;
    inset-inline-start: auto;
}

/* Step circles */
.step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    z-index: 1;
    /* circles above the line */
}

.circle {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: var(--black-color);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Labels */
.label {
    color: var(--black-color);
    text-align: var();
}

@media (max-width: 767.98px) {
    .stepper {
        flex-direction: column;
        gap: 1.25rem;
    }

    .stepper::before {
        transform: rotate(90deg) !important;
        top: 50%;
        display: none;
    }
}
.step {
    position: relative;
}

.step.active::before {
    content: "";
    position: absolute;
    inset-inline-start: 120%;
    top: 25%;
    transform: translate(-50%, -50%);
    height: 0.4rem;
    width: 115%;
    background-color: var(--primary-color);

}

@media (max-width: 991.98px) {
    .step.active::before {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .step.active::before {
        content: unset;
    }
}

.step.active .circle {
    background-color: var(--primary-color);
}

.step.active .label {
    color: var(--primary-color);
}