.loan-card {
    border-radius: var(--main-border-radius);
    overflow: hidden;
    background: var(--white-color);
    transition: transform 0.2s ease;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .loan-card:hover {
    transform: translateY(-4px);
  }
  
  /* Image section */
  .card-image-container {
    width: 100%;
    overflow: hidden;
    padding: 1rem 0;
  }

  .card-image-container img {
    border-radius: 0;
  }
  
  /* Content section */
  .card-content {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-title {
    color: var(--primary-color); /* teal-like color */
    margin: 0;
    flex-grow: 1;
  }

  .chevron-icon {
    background: var(--primary-color);
    color: var(--white-color);
    width: 2rem;
    height: 2rem;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
  }
  
  .chevron-icon:hover {
    background: var(--secondary-color);
  }
  