.logo-img {
    display: block;
    width: 450px;
}

/*====================================*/
.fa-bars {
    color: var(--primary-color);
}

@media (min-width: 991.98px) {
    .dropdown-menu-news-li-parent:hover .dropdown-menu-news {
        display: grid;
    }
}

.dropdown-menu-news {
    border-radius: 0rem !important;
    border: 0.1rem solid var(--primary-color) !important;
    border-bottom: 0.25rem solid var(--primary-color) !important;
    position: absolute;
    background-color: #fff;
    border: none;
    margin-top: 0;
    z-index: 1090;
    display: none;
    top: 2.6rem;
    padding-inline-end: 3rem;
}

.dropdown-menu-news-li-parent .custom-white-dropdown {
    margin-top: 0;
    width: auto !important;
    background-color: #ffffff !important;
    border-radius: 0rem !important;
    border: 0.1rem solid var(--primary-color);
    border-bottom: 0.25rem solid var(--primary-color);
    position: absolute;
    z-index: 1090;
    display: none;
    opacity: 100% !important;
    top: 2.5rem;
}

.dropdown-menu-news-li-parent .custom-white-dropdown ul {
    margin: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dropdown-menu-news ul {
    margin: 0rem;
    padding: 0rem;

}

.dropdown-menu-news li {
    list-style: none;
}

.dropdown-menu-news a {
    display: block;
    width: 100%;
    padding: .2rem .8rem;
    text-decoration: none;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    color: white;
}

.dropdown-menu-news-li-parent .custom-white-dropdown a {
    color: #000;
}

.dropdown-menu-news-li-parent {
    position: relative !important;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link {
    color: var(--secondary-color);
}

.navbar {
    width: auto !important;
    padding: 0;

}

.navbar .navbar-container {
    border-top: 1px solid rgb(45 41 38 / 20%);
}

@media (min-width: 992px) {
    .navbar .navbar-container {
        padding-inline: 0;
    }
}

.navbar ul li {
    padding-block: 0.5rem;
}

.navbar ul li::after {
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: var(--secondary-color);
}

/*           menu           */

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 3.3rem;
        right: 0;
        width: 100%;
        background-color: #fff;
        z-index: 11;
        max-height: 245px;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .navbar-collapse::-webkit-scrollbar {
        width: 8px;
        -webkit-appearance: none;
    }

    .navbar-collapse::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 3px;
    }

    .navbar-collapse::-webkit-scrollbar-thumb:hover {
        background: var(--primary-color);
    }

    .small-screen {
        padding: 1rem;
        color: var(--secondary-color);
        font-size: 1.3rem;
    }
}

#toggleButtonHeader:focus,
#toggleButtonHeader:active,
#toggleButton:focus,
#toggleButton:active,
#toggleButton:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.custom-dropdown {
    font-size: 1rem;
}

.custom-dropdown i {
    padding: 0 0.2rem;
}

@media (max-width: 991.98px) {
    .custom-dropdown {
        width: 85%;
        font-size: 1.3rem;
        padding: 1rem;
    }

    .custom-dropdown i {
        font-size: 1.3rem;
        padding: 0;
    }

    .toggleButtonHeader {
        width: auto;
        border: none;
        background-color: transparent;
    }

    .toggleButtonHeader i {
        color: var(--black-color);
        font-size: 1rem;
    }

    .custom-nav .dropdown-menu-news {
        display: none;
        padding: 0;

    }

    .custom-nav .dropdown-menu-news a {
        padding-inline-start: 2.2rem;
        padding-block: .1rem;
    }

    .custom-nav .dropdown-menu-news.show {
        display: block;
        width: 100% !important;
    }
}

.custom-nav {
    display: flex;
    justify-content: space-between;
    padding-inline: 0;
}

@media (max-width: 991.98px) {
    .custom-nav {
        gap: 0;
    }
}

.custom-nav a {
    display: block;
    white-space: nowrap;
    font-size: .9rem;
    width: fit-content;
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
    padding-block: 0;
    gap: 5px;
}

.custom-nav a:hover {
    color: var(--primary-color);
}

.top-header.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-inline-end: 0px;
}


.middle-header .navbar-toggler {
    padding: 0px;
}

@media (max-width: 991.98px) {

    .dropdown-menu-news,
    .custom-white-dropdown {
        position: relative !important;
        top: 0 !important;
        opacity: unset !important;
    }

    .dropdown-menu-news,
    .custom-white-dropdown {
        position: relative;
        display: block;
        width: 100% !important;
        background-color: #fff !important;
        border: unset !important;
        top: 0;
    }

    .dropdown-menu-news ul,
    .custom-white-dropdown ul {
        position: relative !important;
        display: block !important;
        margin-top: 0px;
    }

    .dropdown-menu-news ul {
        background-color: rgb(0 151 159 / 5%);
    }

    .dropdown-menu-news a,
    .custom-white-dropdown a {
        color: var(--secondary-color);
        padding: 0.5rem;
    }

    .navbar-nav li ul li:first-child {
        border-top: 1px solid rgba(52, 52, 52, 0.2);
    }

    .navbar-nav li:not(:last-child) {
        border-bottom: 1px solid rgba(52, 52, 52, 0.2);
    }

    .navbar-nav .nav-item a {
        padding-block: .7rem !important;
    }

    .dropdown-menu-news ul li a {
        color: var(--black-color);
    }

}

.navbar-nav.custom-nav .nav-link.active {
    color: var(--primary-color);
}

/* ============== */

/* Search Container */
.searchBarOpen {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    padding: 2rem;
    top: -120%;
    width: 100%;
    height: 100vh;
    display: flex;
}

.searchBarOpen.active {
    top: 0;
}

.searchBarOpen--input {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: .5rem;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.searchBarOpen--input input {
    padding: 0 .8rem !important;
    caret-color: #fff;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    background: transparent;
    border: 1px solid#fff;
    color: #fff;
    flex: 1;
    border: 0;
}

.searchBarOpen--input input:focus {
    border: 0;
    outline: unset;
}

.searchBarOpen--input input::placeholder {
    color: rgb(255 255 255 / 80%);
}

.searchBarOpen--input button {
    border-radius: 50px;
    align-self: flex-start;
    padding: 0.8rem 1.5rem;
    background: var(--primary-color);
    color: #fff;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchBarOpen--input button:hover {
    background: #e0e0e0;
}

.searchBarOpen--input button:hover i {
    color: var(--primary-color) !important;
}

.searchBarOpen--closeBtn {
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.searchBarOpen--closeBtn:hover {
    transform: scale(1.2);
}

.navbar {
    box-shadow: 0px 15px 20px 0px #B6B6B640;

}

.navbar .logo-img {
    display: none;
}

@media (max-width: 991.98px) {

    .navbar-container .search-btn span,
    .custom-dropdown i {
        display: none;
    }

    .secondary-nav a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .secondary-nav .logo-img {
        width: 230px !important;
        display: block;
    }

    .navbar-container {
        padding-block: 1rem;
    }

    .middle-header .navbar-toggler {
        padding-inline-end: 10px;
    }

    .navbar-container .search-btn i {
        color: var(--primary-color);
    }

    .navbar ul li {
        padding: 0;
    }

    .navbar-collapse-container {
        width: fit-content !important;
    }
}

@media(max-width: 767.98px) {
    .secondary-nav .logo-img {
        width: 180px !important;
        display: block;
    }
}

@media(max-width: 575.98px) {

    .secondary-nav .main-btn span {
        display: none;
    }

    .secondary-nav .main-btn {
        padding: 7px;
    }
}

.top-bar i {
    font-size: 1.2rem;
}