.f-button.is-close-btn {
    background-color: var(--primary-color);
    border-radius: 50%;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
    top: -38px !important;
}

.f-button.is-close-btn:hover {
    background-color: var(--secondary-color) !important;
}

.f-button.is-prev,
.f-button.is-next {
    background-color: var(--secondary-color) !important;
}

.f-button.is-prev:hover,
.f-button.is-next:hover {
    background-color: var(--primary-color) !important;
}

@media (max-width: 1200px) {
    .f-button.is-prev {
        top: 775px !important;
        left: 110px !important;
    }
    .f-button.is-next {
        top: 775px !important;
        left: 180px !important;
    }
}

@media (max-width: 991.98px) {
    .f-button.is-prev {
        left: 30px !important;
    }
    .f-button.is-next {
        left: 100px !important;
    }
}

@media (max-width: 767.98px) {
    .f-button.is-prev,
    .f-button.is-next {
        top: 700px !important;
    }
}

@media (max-width: 419.98px) {
    .f-button.is-prev,
    .f-button.is-next {
        top: 650px !important;
    }
}

/* Share Button */
.media-card-buttons .media-video-button {
    justify-content: center;
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: all 0.4s ease-in-out;
    white-space: nowrap !important;
    width: 2.5rem;
    min-width: 2.5rem;
    overflow: hidden;
}

.arabic-version .media-card-buttons .media-video-button.hidden {
    transform: translateX(100%) scale(0);
}

.media-card-buttons .media-video-button.hidden {
    opacity: 0;
    transform: translateX(-100%) scale(0);
    width: 0;
    min-width: 0;
    padding: 0;
}