.f-button.is-close-btn {
    background-color: var(--primary-color);
    border-radius: 50%;
}

.f-button.is-close-btn:hover {
    background-color: var(--secondary-color) !important;
}

.f-button.is-prev,
.f-button.is-next {
    background-color: var(--secondary-color) !important;
}

.f-button.is-prev:hover,
.f-button.is-next:hover {
    background-color: var(--primary-color) !important;
}